<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="XPEdition.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <XPEdition.My.MySettings>
            <setting name="myBackgroundImageLayout" serializeAs="String">
                <value>Stretch</value>
            </setting>
            <setting name="myBackColor" serializeAs="String">
                <value>SkyBlue</value>
            </setting>
            <setting name="UserText" serializeAs="String">
                <value />
            </setting>
            <setting name="PassText" serializeAs="String">
                <value />
            </setting>
            <setting name="FullName" serializeAs="String">
                <value />
            </setting>
            <setting name="RememberMe" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="username" serializeAs="String">
                <value />
            </setting>
            <setting name="password" serializeAs="String">
                <value />
            </setting>
            <setting name="homepage" serializeAs="String">
                <value />
            </setting>
            <setting name="atext" serializeAs="String">
                <value />
            </setting>
            <setting name="pathtxt" serializeAs="String">
                <value>Label2</value>
            </setting>
            <setting name="encode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RCheck" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RMCheck" serializeAs="String">
                <value>Unchecked</value>
            </setting>
            <setting name="cpwrd" serializeAs="String">
                <value />
            </setting>
            <setting name="RealUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="CreateUN" serializeAs="String">
                <value />
            </setting>
            <setting name="CreatePass" serializeAs="String">
                <value />
            </setting>
            <setting name="LMI" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="smia" serializeAs="String">
                <value>False</value>
            </setting>
        </XPEdition.My.MySettings>
    </userSettings>
</configuration>
